

<div class="container">
  <h2 class="text-4xl font-bold mb-8 text-center">Character Chords</h2>
  <p class="text-lg mb-8 text-center">Choose a Quiz!</p>
  <div class="quiz-container">
    <% @quizzes.each do |quiz|%>
      <div class="quiz">
        <%= image_tag quiz.image_link, class: 'quiz-image', alt: "#{quiz.theme} quiz image" %>
        <%= link_to quiz.title, quiz_path(quiz.id), class: 'quiz-link'%>
      </div>
    <%end%>
  </div>
</div>