<%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, class: 'bg-green-500 text-white px-4 py-2 rounded-md shadow-md' %>

<h2 class="text-4xl font-bold mb-4">Hello World</h2>
<p class="text-lg">The time is now: <%= Time.now %></p>