
<%= link_to "Open with Spotify", open_with_spotify_playlist_path(@playlist), class: "btn btn-primary" %>

<h1>10 Recommended Songs</h1>

<ol><% @playlist.songs.each do |song|%>
  <li><%= song %></li>
<% end %></ol>